/*  HTML General Reset Formatting as well as Font Choice    */
html {
    box-sizing: border-box;
}

/*  Storage for colour variables for easy changing  */
:root {
    --bg: #FAF9F6;
    --dark: #131D26;
    --blue: #024E73;
    --grey: #F2F2F2;
    --drkgrey: #969EAB;
    --red: #F26A4B;

    /* Health Colours */
    --hpred:#f55840;
    --hpylw:#f2f542;
    --hpaqua:#40ddf5;
    --green: #50ca68;   
}

/*  Body Formatting - "Shapes" the Flex Box    */
body {
    background-image: url("../Images/Other/Background.png"); /* Set background to Cole's art    */
    background: url("../Images/Other/Background.png") no-repeat;
	background-size: cover;
	align-content: center;
    padding: 0; /*  Remove all padding  */
    margin: 0;  /*  Remove all margins  */
    display: flex;  /*  Set display for page to flexbox */
    flex-direction: column; /*  Orient flexbox as a column  */
    text-align:center;  /*  Center-align text   */
    width: 100vw;   /*  Maximum width is 100%   */
    height: 100vh;  /*  Maximum height is 100%  */
    justify-content: center;    /*  Center-align content    */
    align-items: center;    /*  Center-align individual items  */
    color: var(--bg);   /*  Font colour = off-white */
    overflow: hidden;   /*  Remove pesky scrollbars */
    background-color: rgb(15,8,59);  /*  Changes background colour */
}

/*  Formatting for the score div    */
.score {
    font-family: 'Bungee', cursive; /*  Specified font is Bungee    */
    line-height:0%; /*  Remove awkward vertical indentation */
    font-size: 36px;    /*  Set font size to 36px   */
}

/*  Formatting for the score bar*/
.bar-score {
    position: absolute; /*  Absolute position   */
    margin-bottom: 70vh;    /*  Orient to be place at the bottom of the top 30% of the page */
}

/*  Formatting for the oxygen / health bar  */
.oxygenBar{
    display: flex;  /*  Set display to flex */
    width: 70vw;    /*  Set width to 70% of screen  */
    border-radius: 30px;    /*  Curve corners by 30px   */
    align-items: center;    /*  Center-align contents   */
}
.oxygenBG{
    background-color: var(--drkgrey);   /*  Set  background to drkgrey variable */
    width: 100%;    /*  Contents of bar fill bar by 100%    */
    overflow: hidden;   /*  Bar overflow (like excess oxygen points) is hidden  */
    border-radius: 30px;    /*  Curve corners by 30px   */
}
#oxygen{
    background-color: var(--green); /*  Oxygen is green by defaul   */
    padding-right: 0%;  /*  No padding  */
    transition-duration: 0.5s;  /*  Smooth colour change animations */
    transition-timing-function: ease;   /*  Ease into change    */
    overflow: hidden;   /*  Hide overflow colours (like excess oxygen)   */
}

/*  Formatting for timer ID */
#timer {
    font-family: 'Orbitron', sans-serif;    /*  Specify font to be our secondary font   */
    padding-bottom: 2vh;    /*  Bottom padding set to 2% of vertical height */
}

/*  Formatting for keyboard container   */
.container {
    position: absolute; /*  Absolute position   */
    margin-top: 30vh;   /*  There will always be 30% of vertical height above the container */
    width: 600px;   /*  Container minimum width is 600px    */
    max-width: 80%; /*  Container maximum width is 80% of the screen    */
    padding: 15px;  /*  15px of padding */
    text-align: center; /*  Align text for everything in the center of the container */
    border-radius: 30px;    /*  Curve borders by 30px   */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );   /*  Blurry glass effect */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#leaderboard {
    margin-bottom: 50vh;
}

/*  Formatting for the screen ID    */
#screen {
    display:flex;   /*  Set display to flex */
    font-family: 'Bungee', cursive; /*  Set font to Bungee  */
    color: var(--dark); /*  Inner text assigned to our prechosen "dark" colour  */
    background-color: var(--red);   /*  Inside of screen assigned to our prechosen "red" colour */
    padding: 15px;  /*  Padding set to 15px */
    justify-content: center;    /*  Center-align content    */
    border-radius: 20px;    /*  Curve borders by 20px   */
}

/*  Formatting for character image  */
/*Reference*/
/*Metring, R. (2019, April 8). Infinite Animation in CSS - how it works + loop example. Metring. Retrieved April 7, 2022, 
from https://ricardometring.com/infinite-animation-in-css#:~:text=To%20create%20infinite%20animations%20in%20CSS%2C%20we%20will,code%20for%20an%20example%20of%20a%20loading%20animation*/
#characterimage {
    animation: upDown 5s infinite ease-in-out;  /*  */
    position:relative;
    min-width: 200px;
	max-width: 30%;
    margin-bottom: 95vh;
}
/*Animation Css, dictates how it moves up and down and in what intervals*/
/*Reference*/
/*Metring, R. (2019, April 8). Infinite Animation in CSS - how it works + loop example. Metring. Retrieved April 7, 2022, 
from https://ricardometring.com/infinite-animation-in-css#:~:text=To%20create%20infinite%20animations%20in%20CSS%2C%20we%20will,code%20for%20an%20example%20of%20a%20loading%20animation*/
@keyframes upDown
{
	0% {top: 25%;}
	25% {top: 30%;}
	50% {top: 25%;}
	75% {top: 30%;}
	100% {top: 25%;}
}

.btn-grid {
    padding-top: 15px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*  Default button appearance    */
.btn {
    transition-duration: 0.2s;
    background-color: var(--dark);
    color:var(--bg);
    font-family: 'Bungee', cursive;
    padding: 10px 15px;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*  Hover effects for the buttons    */
.btn:hover {
    background: rgba( 47, 46, 103, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
}

/*  Allow for hidden divs   */
.hide {
    display: none;
}

/*  Appearance after a button has been used */
.btn.unusable {
    background-color: var(--grey);
    color: var(--drkgrey);
}

.btn.incorrect {
    background-color: var(--red);
    color: var(--bg);
}

.btn.correct {
    background-color: var(--green);
    color: var(--bg);
}

.bottom-btns {
    padding-top: 30px;
}
p {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 25pt;
}
.playerscore{
    font-size: 20pt;
}

.leaderboardContainer {
    background-color: var(--dark);
    color:var(--bg);
    font-family: 'Orbitron', sans-serif;    /*  Specify font to be our secondary font   */
    padding: 10px 10px;
    margin: 2px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 19, 29, 38, 0.9 );
}