/* Style Sheet */

/* ------------------------------
			Home Page
-------------------------------*/

/* Background Image */
.backgroundHome
{
	width: 100%;
	height: 100%;
	background-image: url(Images/filler.jpg);
	position: absolute;
	left: 0;
	top: 0;
}

/* Floating character div on homescreen */
.characterHome
{
	width: 400px;
	position: relative;
	text-align: center;
	animation: upDown 5s infinite ease-in-out;
	margin: auto;
}

/* Animation for Character */ 
@keyframes upDown
{
	0% {top: 17%;}
	25% {top: 22%;}
	50% {top: 17%;}
	75% {top: 22%;}
	100% {top: 17%;}
}

/* Start Button */
.buttonStart
{
	position: relative;
	margin: auto;
	width: 100%;
	top: 10%;
	font-size: 4vw;
	color: #f2f2f2;
	text-align: center;
}

/* Gets rid of underline */
.buttonStart, a:link
{
	text-decoration: none!important;
}

/* Hover State for start button */
.buttonStart:hover
{
	color: #025E73;
}

/* Home "Astro Babble" title text*/
.titleHome
{
	font-size: 6vw;
	font-family: 'Bungee', cursive;
	color: #025E73;
	margin: 0;
}

/* Div for title */
.titleDiv
{
	text-align: center;
	width: 100%;
	position: relative;
	margin: auto;
	top: -15px;
	z-index: 3;
}

/* Settings Cog */
.settings
{
	position: fixed;
	width: 70px;
	top: 92%;
	left: 1%;
}

/* Container for the buttons */
.flex-container
{
	display: flex; 
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	justify-content: center;
}

/* Button Styles */
.p1
{
	font-family: 'Bungee', cursive;
	color: #025E73;
}

/* Fixes for smaller screen sizes */
@media screen and (max-width: 900px)
{
	.buttonStart
	{
		width: 100%;
		font-size: 10vw;
	}

	.settings
	{
		left: 1%;
		width: 50px;
	}

	.characterHome
	{
		width: 350px;
	}

	.titleHome
	{
		font-size: 10vw;
	}
}



/* ------------------------------
			Game Page
-------------------------------*/

.health{
    background-color: rgb(0, 0, 0);
    padding:2%;
    width: 96%;
    border-radius: 20%;
}
.lifebackground{
    background-color: rgb(68, 68, 68);
    width: 100%;
    overflow: hidden;
}
#life {
    background-color:green;
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
}